<a href="https://colab.research.google.com/github/Ethan-Jeong/test_deeplearning/blob/master/NLP/cos_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from numpy import dot
from numpy.linalg import norm
import numpy as np
def cos_sim(A, B):
       return dot(A, B)/(norm(A)*norm(B))

In [2]:
doc1=np.array([0,1,1,1])
doc2=np.array([1,0,1,1])
doc3=np.array([2,0,2,2])

In [3]:
print(cos_sim(doc1, doc2)) #문서1과 문서2의 코사인 유사도
print(cos_sim(doc1, doc3)) #문서1과 문서3의 코사인 유사도
print(cos_sim(doc2, doc3)) #문서2과 문서3의 코사인 유사도

0.6666666666666667
0.6666666666666667
1.0000000000000002

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]

In [6]:
tfidf = TfidfVectorizer()
tfidf.fit_transform(corpus).toarray()

array([[0.        , 0.46735098, 0.        , 0.46735098, 0.        ,
        0.46735098, 0.        , 0.35543247, 0.46735098],
       [0.        , 0.        , 0.79596054, 0.        , 0.        ,
        0.        , 0.        , 0.60534851, 0.        ],
       [0.57735027, 0.        , 0.        , 0.        , 0.57735027,
        0.        , 0.57735027, 0.        , 0.        ]])

In [7]:
print(tfidf.vocabulary_)

{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

## Recommanded with cos simuliaty
dataset from https://www.kaggle.com/rounakbanik/the-movies-dataset/version/7?select=movies_metadata.csv

In [8]:
import pandas as pd

In [12]:
df_data = pd.read_csv('movies_metadata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df_data.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [14]:
df_data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [15]:
df_data['overview']

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45466, dtype: object

In [16]:
data = df_data.head(10000)

In [17]:
data = data.dropna()

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 9 to 9888
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  158 non-null    object
 1   belongs_to_collection  158 non-null    object
 2   budget                 158 non-null    object
 3   genres                 158 non-null    object
 4   homepage               158 non-null    object
 5   id                     158 non-null    object
 6   imdb_id                158 non-null    object
 7   original_language      158 non-null    object
 8   original_title         158 non-null    object
 9   overview               158 non-null    object
 10  popularity             158 non-null    object
 11  poster_path            158 non-null    object
 12  production_companies   158 non-null    object
 13  production_countries   158 non-null    object
 14  release_date           158 non-null    object
 15  revenue                158 non-null    float64
 16  runtime                158 non-null    float64
 17  spoken_languages       158 non-null    object
 18  status                 158 non-null    object
 19  tagline                158 non-null    object
 20  title                  158 non-null    object
 21  video                  158 non-null    object
 22  vote_average           158 non-null    float64
 23  vote_count             158 non-null    float64
dtypes: float64(4), object(20)
memory usage: 30.9+ KB

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
tfidf = TfidfVectorizer()

In [22]:
tfidf_matrix = tfidf.fit_transform(data['overview'])
tfidf_matrix.shape

(158, 2696)

In [23]:
len(tfidf.vocabulary_)

2696

In [24]:
type(tfidf_matrix)

scipy.sparse.csr.csr_matrix

In [25]:
tfidf_matrix[4].toarray()

array([[0., 0., 0., ..., 0., 0., 0.]])

In [26]:
from sklearn.metrics.pairwise import linear_kernel

In [28]:
cosin_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [29]:
type(cosin_sim)

numpy.ndarray

In [30]:
cosin_sim.shape

(158, 158)

In [31]:
cosin_sim[3]

array([0.03403894, 0.07378662, 0.0606532 , 1.        , 0.05231864,
       0.05361942, 0.04305033, 0.01963748, 0.03302958, 0.04013632,
       0.05650286, 0.04380791, 0.045455  , 0.0360105 , 0.07208718,
       0.06037126, 0.02463999, 0.06438099, 0.0261279 , 0.03232211,
       0.03084823, 0.04654037, 0.05100054, 0.02586476, 0.01778496,
       0.05746612, 0.10967293, 0.0282976 , 0.04640804, 0.02406314,
       0.0671682 , 0.03956612, 0.04875229, 0.04437252, 0.02699316,
       0.02809418, 0.04223523, 0.02060186, 0.05070264, 0.03129839,
       0.02382746, 0.03403162, 0.03612028, 0.0502291 , 0.04674237,
       0.07158003, 0.02806686, 0.03066928, 0.07962729, 0.04691775,
       0.00644533, 0.0481169 , 0.03853567, 0.03240614, 0.01586077,
       0.02972285, 0.06138844, 0.02404479, 0.02269754, 0.03191292,
       0.05483523, 0.03238852, 0.10369226, 0.01014625, 0.02365042,
       0.07221074, 0.0937075 , 0.06614349, 0.06212896, 0.03717476,
       0.03104298, 0.04467526, 0.04421634, 0.0348611 , 0.0419346 ,
       0.04463273, 0.08416776, 0.02689952, 0.0765093 , 0.03427164,
       0.05688173, 0.03798184, 0.06100084, 0.06977991, 0.043257  ,
       0.06593067, 0.07318941, 0.03004147, 0.07785691, 0.03362121,
       0.04905523, 0.05165596, 0.0530247 , 0.03135838, 0.03568706,
       0.01777612, 0.02582292, 0.06439404, 0.09755842, 0.04048298,
       0.02410179, 0.11799301, 0.02372764, 0.03365979, 0.0516431 ,
       0.03419398, 0.05102216, 0.03686381, 0.05020573, 0.        ,
       0.04703451, 0.06167647, 0.09303921, 0.05049593, 0.04349756,
       0.06190237, 0.01970586, 0.0232032 , 0.04319589, 0.03768416,
       0.01250471, 0.04833805, 0.03121207, 0.01953039, 0.03584489,
       0.04046393, 0.04644173, 0.07827514, 0.06894843, 0.0402017 ,
       0.04454245, 0.04634837, 0.07287341, 0.05707715, 0.03935795,
       0.02696071, 0.03522189, 0.03972236, 0.04045747, 0.03815843,
       0.04161958, 0.05359455, 0.0795967 , 0.04720775, 0.06361119,
       0.03409284, 0.09568197, 0.03113103, 0.07496798, 0.06092952,
       0.02241252, 0.03758525, 0.02565086, 0.06497691, 0.03866494,
       0.09101481, 0.05321531, 0.05776599])

In [36]:
indeces = pd.Series(data.index ,  index=data['title']).drop_duplicates()

In [38]:
indeces['From Dusk Till Dawn']

69

In [39]:
list(cosin_sim[69])

[0.0727441763199051,
 0.02892051203972273,
 0.02996503077446317,
 0.037174758464543475,
 0.02346836061741026,
 0.021246298385504493,
 0.03633447712794377,
 0.02409510202753557,
 0.06229400104850713,
 0.03702937763287602,
 0.02266926258350839,
 0.03550986180781372,
 0.04067791017893172,
 0.02258712427618866,
 0.055681642758578426,
 0.03285809837552814,
 0.008864996791036644,
 0.051654345203359445,
 0.036543295302026296,
 0.05436611020060969,
 0.033444124944652376,
 0.034369941078449484,
 0.015738855191422714,
 0.04867096565015526,
 0.0165640075249569,
 0.045349328897193536,
 0.046479507343680074,
 0.02335116601519331,
 0.03414460067128391,
 0.01880098894929399,
 0.03749684968923591,
 0.03495873912734175,
 0.028904142549040543,
 0.07653702067400137,
 0.0420053856954951,
 0.01887417858509342,
 0.03899075747625005,
 0.018905351270920575,
 0.0581371686844761,
 0.06256835081107805,
 0.06418018781492944,
 0.02818557476486423,
 0.012636801969483472,
 0.03411513362071413,
 0.022011528214427596,
 0.04084155794601536,
 0.023258756302241734,
 0.019434400902220792,
 0.011090334694260625,
 0.03129096914175193,
 0.04968739277034367,
 0.03873771943547791,
 0.034845850090862746,
 0.03605364586541966,
 0.0548995128641066,
 0.02896844624837778,
 0.12396013932603699,
 0.017560212468627247,
 0.022379533800444853,
 0.016716442893773248,
 0.028666856516304462,
 0.012784701549151406,
 0.1021239662265584,
 0.03605753708829086,
 0.01856145411679454,
 0.007536792238047464,
 0.03627565301897282,
 0.14772757089625846,
 0.07863939654572888,
 1.0000000000000002,
 0.06490919638216405,
 0.11846245157106666,
 0.06759477729852406,
 0.007901538716347259,
 0.11163546861489206,
 0.01962351198325638,
 0.01181452076934861,
 0.018959047441475984,
 0.0777240551998175,
 0.051627310335658996,
 0.06704982880658902,
 0.028672356399621114,
 0.07708831666547515,
 0.15998660887787308,
 0.06751206299021836,
 0.10414294242114651,
 0.04845924109409865,
 0.0717245949157262,
 0.10207971087196481,
 0.03816176849889954,
 0.09094390029051094,
 0.06753700009620281,
 0.049070838287092515,
 0.034855063923446575,
 0.024062479484665455,
 0.030183934970486534,
 0.06296895414834959,
 0.023769001423475638,
 0.030156580008166636,
 0.03376180402655872,
 0.061113241865163405,
 0.037795124213644886,
 0.013543880450032412,
 0.05214196347976607,
 0.017136047440244224,
 0.0545485044703303,
 0.03825794763419014,
 0.04060438050660771,
 0.03959379257603307,
 0.007428128800515271,
 0.04368412791359948,
 0.03345980038521615,
 0.07328169202429911,
 0.0689153492778048,
 0.04811438035541243,
 0.04703552901593579,
 0.014362995369105555,
 0.014307027867566774,
 0.06985103392068573,
 0.029171828881181305,
 0.006024975732732928,
 0.014747555638018852,
 0.030870304828824347,
 0.030274526518226395,
 0.053070918929712795,
 0.011049442309096387,
 0.05400170634573909,
 0.019459697602779054,
 0.016100559847618837,
 0.03879250264403164,
 0.028407275208326067,
 0.023713241492282357,
 0.04701350455478659,
 0.1189225068324697,
 0.055885332432776914,
 0.020799280936346448,
 0.04803360538836958,
 0.13396597843861469,
 0.12763954217361856,
 0.08967898602019628,
 0.07594087445235678,
 0.02408693980023397,
 0.08666987642376395,
 0.06478599766441434,
 0.028746339265731016,
 0.03514313566038776,
 0.0534815153722194,
 0.021863433525886794,
 0.05246406756710896,
 0.0948290631705181,
 0.006121010082791553,
 0.026997757361824554,
 0.03204387494829313,
 0.019101143576897628,
 0.041909783109255964,
 0.03110393121739402,
 0.042092553084743786,
 0.044729912840070066]

In [45]:
cosin_list = list(enumerate(cosin_sim[69]))
cosin_list

[(0, 0.0727441763199051),
 (1, 0.02892051203972273),
 (2, 0.02996503077446317),
 (3, 0.037174758464543475),
 (4, 0.02346836061741026),
 (5, 0.021246298385504493),
 (6, 0.03633447712794377),
 (7, 0.02409510202753557),
 (8, 0.06229400104850713),
 (9, 0.03702937763287602),
 (10, 0.02266926258350839),
 (11, 0.03550986180781372),
 (12, 0.04067791017893172),
 (13, 0.02258712427618866),
 (14, 0.055681642758578426),
 (15, 0.03285809837552814),
 (16, 0.008864996791036644),
 (17, 0.051654345203359445),
 (18, 0.036543295302026296),
 (19, 0.05436611020060969),
 (20, 0.033444124944652376),
 (21, 0.034369941078449484),
 (22, 0.015738855191422714),
 (23, 0.04867096565015526),
 (24, 0.0165640075249569),
 (25, 0.045349328897193536),
 (26, 0.046479507343680074),
 (27, 0.02335116601519331),
 (28, 0.03414460067128391),
 (29, 0.01880098894929399),
 (30, 0.03749684968923591),
 (31, 0.03495873912734175),
 (32, 0.028904142549040543),
 (33, 0.07653702067400137),
 (34, 0.0420053856954951),
 (35, 0.01887417858509342),
 (36, 0.03899075747625005),
 (37, 0.018905351270920575),
 (38, 0.0581371686844761),
 (39, 0.06256835081107805),
 (40, 0.06418018781492944),
 (41, 0.02818557476486423),
 (42, 0.012636801969483472),
 (43, 0.03411513362071413),
 (44, 0.022011528214427596),
 (45, 0.04084155794601536),
 (46, 0.023258756302241734),
 (47, 0.019434400902220792),
 (48, 0.011090334694260625),
 (49, 0.03129096914175193),
 (50, 0.04968739277034367),
 (51, 0.03873771943547791),
 (52, 0.034845850090862746),
 (53, 0.03605364586541966),
 (54, 0.0548995128641066),
 (55, 0.02896844624837778),
 (56, 0.12396013932603699),
 (57, 0.017560212468627247),
 (58, 0.022379533800444853),
 (59, 0.016716442893773248),
 (60, 0.028666856516304462),
 (61, 0.012784701549151406),
 (62, 0.1021239662265584),
 (63, 0.03605753708829086),
 (64, 0.01856145411679454),
 (65, 0.007536792238047464),
 (66, 0.03627565301897282),
 (67, 0.14772757089625846),
 (68, 0.07863939654572888),
 (69, 1.0000000000000002),
 (70, 0.06490919638216405),
 (71, 0.11846245157106666),
 (72, 0.06759477729852406),
 (73, 0.007901538716347259),
 (74, 0.11163546861489206),
 (75, 0.01962351198325638),
 (76, 0.01181452076934861),
 (77, 0.018959047441475984),
 (78, 0.0777240551998175),
 (79, 0.051627310335658996),
 (80, 0.06704982880658902),
 (81, 0.028672356399621114),
 (82, 0.07708831666547515),
 (83, 0.15998660887787308),
 (84, 0.06751206299021836),
 (85, 0.10414294242114651),
 (86, 0.04845924109409865),
 (87, 0.0717245949157262),
 (88, 0.10207971087196481),
 (89, 0.03816176849889954),
 (90, 0.09094390029051094),
 (91, 0.06753700009620281),
 (92, 0.049070838287092515),
 (93, 0.034855063923446575),
 (94, 0.024062479484665455),
 (95, 0.030183934970486534),
 (96, 0.06296895414834959),
 (97, 0.023769001423475638),
 (98, 0.030156580008166636),
 (99, 0.03376180402655872),
 (100, 0.061113241865163405),
 (101, 0.037795124213644886),
 (102, 0.013543880450032412),
 (103, 0.05214196347976607),
 (104, 0.017136047440244224),
 (105, 0.0545485044703303),
 (106, 0.03825794763419014),
 (107, 0.04060438050660771),
 (108, 0.03959379257603307),
 (109, 0.007428128800515271),
 (110, 0.04368412791359948),
 (111, 0.03345980038521615),
 (112, 0.07328169202429911),
 (113, 0.0689153492778048),
 (114, 0.04811438035541243),
 (115, 0.04703552901593579),
 (116, 0.014362995369105555),
 (117, 0.014307027867566774),
 (118, 0.06985103392068573),
 (119, 0.029171828881181305),
 (120, 0.006024975732732928),
 (121, 0.014747555638018852),
 (122, 0.030870304828824347),
 (123, 0.030274526518226395),
 (124, 0.053070918929712795),
 (125, 0.011049442309096387),
 (126, 0.05400170634573909),
 (127, 0.019459697602779054),
 (128, 0.016100559847618837),
 (129, 0.03879250264403164),
 (130, 0.028407275208326067),
 (131, 0.023713241492282357),
 (132, 0.04701350455478659),
 (133, 0.1189225068324697),
 (134, 0.055885332432776914),
 (135, 0.020799280936346448),
 (136, 0.04803360538836958),
 (137, 0.13396597843861469),
 (138, 0.12763954217361856),
 (139, 0.08967898602019628),
 (140, 0.07594087445235678),
 (141, 0.02408693980023397),
 (142, 0.08666987642376395),
 (143, 0.06478599766441434),
 (144, 0.028746339265731016),
 (145, 0.03514313566038776),
 (146, 0.0534815153722194),
 (147, 0.021863433525886794),
 (148, 0.05246406756710896),
 (149, 0.0948290631705181),
 (150, 0.006121010082791553),
 (151, 0.026997757361824554),
 (152, 0.03204387494829313),
 (153, 0.019101143576897628),
 (154, 0.041909783109255964),
 (155, 0.03110393121739402),
 (156, 0.042092553084743786),
 (157, 0.044729912840070066)]

In [50]:
consin_index = sorted(cosin_list, key=lambda x:x[1] ,reverse=True)

In [52]:
consin_index[1:11]

[(83, 0.15998660887787308),
 (67, 0.14772757089625846),
 (137, 0.13396597843861469),
 (138, 0.12763954217361856),
 (56, 0.12396013932603699),
 (133, 0.1189225068324697),
 (71, 0.11846245157106666),
 (74, 0.11163546861489206),
 (85, 0.10414294242114651),
 (62, 0.1021239662265584)]

In [54]:
# for i in consin_index:
  
movie_indeces = [ i[0] for i in consin_index[1:11] ]

In [56]:
data['title'].iloc[movie_indeces]

3513                      The Spy Who Loved Me
2832                     From Russia with Love
7329                       You Only Live Twice
7330                                 Octopussy
2263                          A View to a Kill
7192    Agent Cody Banks 2: Destination London
2875                          Live and Let Die
2965                   The World Is Not Enough
3517               The Man with the Golden Gun
2572                                    Tarzan
Name: title, dtype: object